{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10 my-5" style="background-color: blue;">
    <h3> About Page</h3>
</div>
<!-- Jumbotron alternative in bootstrap5 -->
<P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat nesciunt odio laboriosam optio facilis libero amet,
    beatae in repellat. Culpa, iusto et asperiores vitae suscipit temporibus voluptatem non nisi neque ad cumque vero
    itaque, magnam quam. Autem quis magnam facilis veniam! Beatae odit dolorum sequi doloremque! Eum fugit nobis vitae.
</P>

{% endblock content %}